body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
}
header {
  padding: 16px 0;
  margin: 16px 0 48px 0;
}
h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
  transition: ease-in-out all 0.3s;
}
header a:hover {
  color: #333333;
}

.portrait {
  width: 250px;
}
footer {
  padding: 16px 0;
  margin-top: 16px;
  border-top: solid 1px #eeeeee;
  color: #888888;
}
input {
  border: 1px solid #cccccc;
  padding: 8px;
  transition: all ease-in-out 0.3s;
}
input:focus {
  border: 1px solid #7c7c7c;
  padding: 8px;
}
button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  padding: 8px;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

button:hover {
  border: 1px solid #888888;
  background: #797979;
}

button:active {
  border: 1px solid #888888;
  background: #646464;
}
