<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    <title>My Weather | About</title>
</head>
<body>
<div class="main-content">
{{>header}}
<p>This site is an exercice for my studies. I'm going to become a fullstack web developer</p>
<p>I'm actualy learning NodeJs, so this web site is using:</p>
<p>Languages and Frameworks: NodeJs and HandleBars</p>
<p>APIs: Openweathermap and Mapbox</p>
<p>Provided: Git/Github and Heroku</p>
    <img class="portrait" src='/img/about.jpg' alt='me'>
    </div>
     {{>footer}}
</body>
</html>